.dz-select {
  position: relative;
  display: inline-flex;
  width: 260px;

  .dz-input {
    input.is-readonly {
      cursor: pointer;
      background: #fff;
    }
  }

  &-dropdown {
    position: absolute;
    left: 0;
    top: calc(100% + 8px);
    width: 100%;
    height: 224px;
    background: #ffffff;
    box-shadow: 0px 8px 40px 0px rgba(100, 107, 122, 0.15);
    border-radius: 4px;
    overflow-y: auto;

    &-list {
      list-style: none;
      box-sizing: border-box;
    }
  }
}
